%header
  %h1= t.course.basic.starting_with_ruby
  %nav
    %button Organizar este taller
  %aside
    %ul
      %li Sintáxis básica
      %li Control de flujo e iteración
      %li Cadenas, números y parientes lejanos
      %li Estructuras de datos: hashes y arrays
      %li La faceta funcional de Ruby 
      %li Ruby y la orientación a objetos
      %li La magia de Ruby
  %figure.flexslider
    %ul.slides
      %li
        slide1
        %p
          El objetivo principal de <em>Comenzando con Ruby</em> es ofrecer una 
          primera toma de contacto con el lenguaje de programación Ruby.

      %li
        slide2
        %p
          Una vez finalizado, serás capaz de
          programar en él y tendrás las herramientas necesarias para, si lo deseas,
          profundizar y ampliar los conocimientos básicos ya adquiridos.
      %li
        slide3

%aside
  %q
    %img{src: '/images/1.jpeg'}
    Es el mejor curso de introducción a Ruby que he visto nunca
    %cite Uncle Bob
  %q
    %img{src: '/images/2.jpeg'}
    Súper divertido, aprendes sin darte cuenta.
    %cite Kent Beck

%section
  %h2 ¿A quién va dirigido?
  %p
    A programadores sin ninguna experiencia previa con Ruby. Si estás alguna 
    de las siguientes situaciones, estás en el sitio adecuado.
  %ul
    %li Necesitas ponerte al día y aprender un lenguaje con presente y futuro.
    %li Empezaste con Ruby por tu cuenta, pero no profundizaste demasiado.
    %li Quieres aprender Ruby On Rails pero no sabes por dónde empezar.

%section
  %h2 ¿Cómo funciona?
  %p
    <em>Learn you some basic Ruby</em> es una forma de aprender Ruby pensada por
    programadores para programadores. Queremos que sea divertido!
  %p
    Intercalaremos pequeñas explicaciones que introducen un nuevo elemento
    del lenguaje con una serie de ejercicios destinados
    a utilizarlo. Un cuarto de hora después de comenzar ya estarás escribiendo Ruby!
  %p
    Además, tu formación no termina con el taller. Tendrás más ejercicios en los
    que trabajar y te recomendaremos una bibliografía con la que seguir aprendiendo.

%aside
  %h3 Antes de venir...
  %ul
    %li
      %a{href: '#'} Instalando Ruby
    %li
      %a{href: '#'} Ruby Koans
    %li
      %a{href: '#'} Prepara tu editor
    %li
      %a{href: '#'} Documentacion
    %li
      %a{href: '#'} Otras cosas interesantes

%section
  %h2 ¿Qué necesito?
  %p
    Lo principal son ganas de aprender y pasarlo bien. Necesitarás un portátil,
    un editor e instalar Ruby. Lo demás lo ponemos nosotros.

%script(src="/assets/jquery.flexslider-min.js")
:javascript
  $(window).load(function() {
    $('.flexslider').flexslider({
        animation: "slide"
    });
  });
