%article#why-ruby
  %h2 ¿Por qué Ruby?
  %p Vestibulum fermentum pharetra condimentum. Aenean in ipsum commodo massa dapibus tincidunt. Integer varius semper erat, vehicula rutrum diam vestibulum accumsan. Suspendisse metus tortor, vestibulum vel scelerisque eget, pulvinar a dolor. Donec laoreet, urna luctus blandit pharetra, lacus augue facilisis arcu, in ornare diam quam id mi.
  %figure
    %img{src: 'http://flickholdr.com/480/300/chart'}
    %figcaption
      Este es el gráfico de explicación
  %p Nullam quis nisi arcu, ac laoreet lacus. In volutpat rutrum risus sed molestie. Vivamus id porttitor metus. Phasellus lorem risus, mollis nec pharetra sed, interdum sit amet diam. Ut in sem in erat suscipit pellentesque. Nam rutrum dignissim nunc vel egestas. Integer sit amet nisl elit, et tincidunt leo. Sed iaculis lacus eu mi mattis convallis. Sed in risus tellus.


%article#why-us
  %h2 ¿Por qué nosotros?
  %p Phasellus sed consequat leo. Cras vitae ipsum diam. Morbi porta molestie semper. Vivamus ante dui, ultrices id pulvinar vitae, elementum vel nulla. Maecenas mattis justo lorem, sit amet congue est. Donec laoreet venenatis suscipit. Cras ullamcorper hendrerit fermentum. Integer id molestie nibh. Aliquam vitae nulla mauris. Aenean dapibus nulla lacus, at porta risus. Nulla varius viverra laoreet. Curabitur mattis lacinia nisl, vitae dictum nibh eleifend a.

%article#basic-course
  %h2 Ruby básico
  %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In hac habitasse platea dictumst. Nulla vel ipsum diam. Curabitur lacus nisl, pretium vel accumsan quis, placerat in dolor. Sed eros nisl, lobortis congue aliquam nec, gravida ac ligula. Sed ultrices arcu et tortor vestibulum facilisis. Aliquam erat volutpat. Etiam nulla ante, ullamcorper a elementum non, vestibulum sed tellus. Duis est urna, tempus ut fermentum a, malesuada a est. Phasellus pharetra diam justo, nec porta diam. Aenean suscipit consectetur neque, a euismod arcu interdum sed. Quisque ut urna non lorem auctor consectetur ut nec odio. Vivamus porttitor lectus eu massa interdum hendrerit. Nulla ac lectus eu arcu egestas luctus vel a augue. Integer ullamcorper venenatis mauris, ut venenatis lectus tristique ac.

%article#intermediate-course
  %h2 Ruby intermedio

%article#advanced-course
  %h2 Ruby avanzado

%article#echosystem-course
  %h2 Ecosistema Ruby
