%article#hero
  %section
    %h1 Aprende Ruby sin esfuerzo
    %h2 En una tarde, o te devolvemos el dinero
    %img#ruty{src:'/images/ruty.png'}
%figure#landscape
%section#announcement
  %h1 Pasatelo en grande con nuestros cursos y mejora profesionalmente por &euro; 150
  %section
    %article.course
      %h1 Básico
      %img{src:'/images/basic.png'}
      %p Ponte al día en solo una tarde. Tras este curso, Ruby dejará de ser un misterio para ti y tendrás las bases para que Ruby se convierta en uno de tus lenguajes favoritos.
      %a{href:'/basico'}Cuentame mas
    %article.course
      %h1 Ecosistema
      %img{src:'/images/ecosystem.png'}
      %p Date un paseo por la mejores librerías de Ruby. En este taller 100% practico, usaras las librerías más importantes para crear una web sin esfuerzo. Ideal si ya tienes las bases de Ruby.
      %a{href:'/ecosistema'} Cuentame mas

%section#why
  %section
    %article.box
      %img{src:'/images/professional.png'}
      %h1 Se mejor professional
      %p short text here
    %article.box
      %img{src:'/images/metaprogramming.png'}
      %h1 Metaprogramate
      %p short text here

%section#more-info
  %section
    %article.box
      %img{src:'/images/who.png'}
      %h1 A quien va dirigido?
      %p Tienes conocimientos de programación, y quieres aprender uno nuevo lenguaje. Quieres profundizar en todo lo que hay alrededor del mundo Ruby. Quieres un trabajo mejor.
    %article.box
      %img{src:'/images/what.png'}
      %h1 Que necesito?
      %p Tu portatil y ganas de aprender. Los cursos son independientes pero cada uno de ellos asume unos conocimientos previos. Asegurate de estar preparado.
    %article.box
      %img{src:'/images/diploma.png'}
      %h1 Y te llevas esto...
      %p Un diploma para golgar en tu area de trabajo y la posibilidad de ligar con las nuevas pegatinas en tu portatil.
    %article.box
      %img{src:'/images/tour.png'}
      %h1 Tour
      %p Muy pronto...
      %a{href:'/request'} Ven a mi cuidad

%section#instructors
  %section
    %article#Javier.box
      %img{src:'/images/javier.png'}
      %h1 Javier Acero
      %p A Javier no le gusta las pantallas de portatiles mas grandes de 13 pulgadas. Incluso su 13 pulgadas tiene 2 pulgadas de mas. Sin embargo no le importa que los rubies tengan un numero arbitriario de aretas. Siempre y cuando sea un numero fibonacci.
    %article#enrique.box
      %img{src:'/images/enrique.png'}
      %h1 Enrique Comba
      %p Enrique es un amante de todas las gamas profesionales de productos. En cuanto necesita cualquier cosa, se compra en seguida la version profesional de ese producto. Aunque sea una barra de pan. Por eso, Enrique programa en Ruby. Porque es para profesionales.

