%article#hero
  %img{src:'/images/ruty.png'}
  %aside
    %h1 Aprende Ruby sin esfuerzo
    %h2 En una tarde, o te devolvemos el dinero
%section.content
  %article.box
    %h1 Comenzando
    %p Ponte al día en solo una tarde. Tras este curso, Ruby dejará de ser un misterio para ti y tendrás las bases para que Ruby se convierta en uno de tus lenguajes favoritos.
    %a{href:'/basico'}Cuentame mas
  %article.box
    %h1 Ecosistema
    %p Date un paseo por la mejores librerías de Ruby. En este taller 100% practico, usaras las librerías más importantes para crear una web sin esfuerzo.
    %a{href:'/ecosistema'} Cuentame mas
  %article.box
    %h1 Tour
    %p Muy pronto...
    %a{href:'/request'} Ven a mi cuidad
  %article.box
    %h1 A quien va dirigido?
    %p Tienes conocimientos de programación, y quieres aprender uno nuevo lenguaje. Quieres profundizar en todo lo que hay alrededor del mundo Ruby. Quieres un trabajo mejor.
  %article.box
    %h1 Se mejor professional en 6 horas
    %p short text here
  %article.box
    %h1 Metaprogramate
    %p short text here
  %article.box
    %h1 Javier Acero
    %p Short bio here
  %article.box
    %h1 Enrique Comba
    %p Short bio here
  %article.box
    %h1 Y te llevas esto...
    %p Un diploma para golgar en tu area de trabajo y la posibilidad de ligar con las nuevas pegatinas en tu portatil.
  %article.box
    %h1 Que necesito?
    %p Tu portatil y ganas de aprender. Los cursos son independientes pero cada uno de ellos asume unos conocimientos previos. Asegurate de estar preparado.
