@import 'compass'
@import 'compass/reset'
@import 'susy'

// media queries widths
$iphone-max-width: 38.999em
$ipad-min-width:   39em
$ipad-max-width:   58.999em
$normal-width:     59em

// susy layout
$total-columns:    12
$column-width:     4em
$gutter-width:     1em
$grid-padding:     $gutter-width

// vertical rythm
$base-font-size:       16px
$base-line-height:     23px
