@mixin course-4-columns
  header
    h1
      @include span-columns(4)
      @include course-title
      @include adjust-font-size-to(40px)
      text-align: center
    nav
      @include span-columns(4)
      height: 70px
      margin-top: 380px
      text-align: center
      button
        @include course-call-to-action
        width: 100%
    section
      @include span-columns(4)
      margin-top: -420px
      margin-bottom: 120px
      .flexslider
        @include course-slides
        .slides
          height: 16em
          background: $base
          li
            padding: 1.2em .5em
    > aside
      @include span-columns(4)
      ul
        @include course-topic-list
        margin-left: 1.5em

  section
    @include margin-trailer(1)
    @include span-columns(4)
  aside
    &:nth-child(3)
      @include span-columns(4)
      q
        min-height: 85px
    &:nth-child(6)
      @include span-columns(4)
      ul
        @include useful-link-list
        width: 85%
        li a
          padding: .8em 0
