@mixin landing-12-columns
  #hero
    @include text-shadow(white 0 1px 1px)
    section
      padding: 3em 0
      @include container
    h1
      text-align: center
      font-size: 4em
      color: $red
      line-height: 1em
    h2
      text-align: center
      padding-bottom: 2em
      color: $darkbase
    #ruty
      display: block
      margin: 0 auto
      width: 30%
      margin-bottom: -300px

  #landscape
    background-image: url('/images/landscape.png')
    background-position: center
    background-repeat: repeat-x
    background-size: 400px
    min-height: 120px

  #landing
    background: $darkbase
    section
      @include container
      > h1
        text-align: center
        padding-top: 5em
        padding-bottom: 1em
    .inner
      @include span-columns(12)
    .course
      @include span-columns(4, 12)
      @include nth-omega(2)
      color: $course-foreground
      h1
        text-align: center
      a
        text-align: right
        background: $course-foreground
        padding: .4em 1em
