@mixin landing-12-columns
  #hero
    @include text-shadow(white 0 1px 1px)
    section
      padding: 3em 0
      @include container
    h1
      font-size: 6em
      font-weight: bold
      text-align: center
      color: $red
      line-height: 1em
    h2
      text-align: center
      padding-bottom: 2em
      color: $darkbase
    #ruty
      display: block
      margin: 0 auto
      width: 30%
      margin-bottom: -300px

  #landscape
    background-image: url('/images/landscape.png')
    background-position: center
    background-repeat: repeat-x
    background-size: 400px
    min-height: 120px

  #landing
    background: $darkbase
    section
      @include container
      > h1
        text-align: center
        padding-top: 5em
        padding-bottom: 1em
    .inner
      @include span-columns(12)
    .course
      @include span-columns(5, 12)
      @include nth-omega(2)
      background: lighten($darkbase, 10%)
      img
        display: block
        margin: 0 auto
        width: 50%
        padding: 1em 0
      h1
        text-align: center
        background: darken($darkbase, 8%)
        font-weight: bold
        font-size: 3em
        text-shadow: none
        color: $red
      p
        padding: 1em
      a
        display: block
        width: 50%
        margin: 1em auto
        padding: .4em 1em
        text-align: center
        font-weight: bold
        background: darken($darkbase, 8%)
        color: $red
        text-shadow: none
        &:hover
          background: darken($darkbase, 2%)
