@import 'colors'
@import 'base'
@import 'site-header'
@include establish-baseline

$serif:     'pt serif', georgia, serif
$sans:      ubuntu, helvetica, arial, sans
$condensed: 'yanone kaffeesatz'

body
  @include text-shadow(white 0 1px 1px)
  color: $foreground
  background: $background url(/images/paper.png) top left repeat
  font: 400 normal 16px/1.45 $sans

h1
  @include adjust-font-size-to(30px)
  font-weight: 400
  font-family: $condensed
  text-transform: uppercase

h2
  @include adjust-font-size-to(26px)
  font-family: $condensed
  font-weight: 300
  text-transform: uppercase

h3
  @include adjust-font-size-to(24px)
  font-family: $condensed
  font-weight: 300
  text-transform: uppercase

a
  color: $action
  text-decoration: none
  &:hover
    color: lighten($action, 5%)

p
  @include margin-trailer(1)

em
  text-decoration: underline

strong
  font-weight: 500

ul
  list-style-position: inside
  @include margin-trailer(1)

q
  @include margin-trailer(1)
  display: block
  overflow: hidden
  font-style: italic
  &:before
    content: '"'
  img
    @include box-shadow(grey 0 0 10px)
    float: left
    width: 64px
    margin-right: 1em
    border: 4px solid white
    outline: 1px solid gainsboro
  cite
    @include adjust-font-size-to(14px)
    display: block
    color: lighten($foreground, 30%)
    font-style: normal
    &:before
      content: '- '

body > header
  @include site-header

body > footer
  overflow: hidden
  nav
    position: relative
    top: 28px
    background: darken($base, 85%)
  img
    @include border-radius(50%)
    display: block
    position: relative
    top: -24px
    margin: 0 auto
    width: 36px
    background: darken($base, 85%)
    padding: 10px

#index


.flex-active
  background: $action
  background: darken($base, 30%) !important
.flex-control-paging li a
  background: gainsboro
  &:hover
    background: darken($base, 20%)

@import 'landing'
@import 'course'
